@charset "utf-8";
/* CSS Document */

#map {
  height: 400px;
  width: 100%;
}

nav ul{
  height:200px;
  width:100%;
}
nav ul{
  overflow:hidden;
  overflow-y:scroll;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

nav ul li:last-child {
  border: none;
}

nav ul li:hover {
  font-size: 30px;
  background: #f6f6f6;
  transition: all 0.4s ease 0s;
}

nav ul li button{
float: right;
color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: #ffffff;
padding: 3px;
border: 2px solid #494949 !important;
display: inline-block;
transition: all 0.4s ease 0s;
width: 10%;
height: 100%;
}

nav ul li button:hover {
color: #ffffff !important;
background: #f6b93b;
border-color: #f6b93b !important;
transition: all 0.4s ease 0s;
}
